.register-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #BBDEFB;
    
    }
    .login-btn {
        padding-top: 10px;
        padding-bottom: 10px;
    }
.email{
    margin-left: 29px;
}
.field-wrapper{
    margin: 10px;
}